body{
 background-color: black;
 color:green; font-weight: bold;
}
h1{
 text-align: center; font-family: 'Times New Roman', Times, serif; text-transform: uppercase;
 font-size: 50px;
 background-color: rgba(0, 128, 0, 0.281);
}
h2{
 font-size: 40px;
}
p{
     font-size: 20px;
}
ul{
     font-size: 20px;
 color: darkolivegreen;
}
img{
 width: 300px;
}
#link{
 color: chartreuse;
}
#link li{
 width: 42px;
 background-color: none;
}
#link a{
 text-decoration: none;
 color: chartreuse;
 font-size: 20px;
}
#link a:hover{
 color: rgba(81, 255, 0, 0.288)
}
div {
  background-color: lightgrey;
  width: 250px;
  border: 15px solid rgb(255, 136, 0);
  padding: 25px;
  margin: 20px;
}